.feedback {
	background-image: url(../img/feedback-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 162px;
	&-card {
		position: relative;
		margin: auto;
		margin-top: 114px;
		border-radius: 10px;
		border: none;
		border: 1px solid rgba(0, 0, 0, 0.08);
		background-color: $light-color;
		text-align: center;
		padding: 0px 0px 0px 0px;
		img {
			position: absolute;
			left: 50%;
			top: 0%;
			transform: translate(-50%, -50%);
			object-fit: cover;
		}
		&__title {
			margin-top: 78px;
			font-size: 20px;
			font-weight: 700;
		}
		&__subtitle {
			margin-top: -23px;
			font-size: 15px;
			font-weight: 500;
		}
		&__text {
			margin: auto;
			padding-bottom: 100px;
			margin-top: 36px;
			max-width: 580px;
			font-size: 18px;
			font-weight: 500;
			line-height: 30px;
			text-align: center;
		}
	}
}

.slider-container {
	max-width: 730px; 
	margin: auto;
}

.arrow {
	text-align: center;
	position: relative;
	cursor: pointer;
	&-left {
		position: absolute;
		bottom: 0;
		left: 34%;
	}
	&-right {
		position: absolute;
		bottom: 0;
		right: 34%;
	}
}
.slick-arrow {
	margin-top: 32px;
	border: none;
	background-color: transparent;
	outline: none;
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	padding: 0px 12px;
	cursor: pointer;
}


