hr {
	margin-top: 33px;
	background-color: $light-color;
	opacity: 0.6;
}
.main-section {
	background: url(../img/header-bg.png) no-repeat top center / cover;
	padding-bottom: 209px;
	@media (max-width: 768px) {
		background: url(../img/main-bg-small.png) no-repeat top center / cover;
	}
}
.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-top: 45px;
	@media (max-width: 920px) {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	@media (max-width: 576px) {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	&-logo {
		background: url(../img/logo-header.png);
		background-repeat: no-repeat;
		background-size: cover;
		width: 168px;
		height: 51px;
		@media(max-width: 920px) {
			margin: auto;
		}
		@media(max-width: 320px) {
			margin: auto;
			margin-bottom: 20px;
		}
	}
	&-menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		@media(max-width: 920px) {
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
		}
	}
	&-list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		overflow: hidden;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		@media(max-width: 920px) {
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
		}
		@media(max-width: 320px) {
			-ms-flex-preferred-size: 100%;
			    flex-basis: 100%;
		}
	}
	&-item {
		margin-right: 34px;
		list-style-type: none;
		text-transform: uppercase;
		@media (max-width: 576px) {
			margin-bottom: 15px;
		}
	}
	&-link {
		text-decoration: none;
		color: $light-color;
		font-size: 17px;
	}
	&-btn {
		color: $light-color;
		text-transform: uppercase;
		border-radius: 10px;
		background-color: #479ee1;
		opacity: 0.8;
		border: none;
		padding: 3px 30px;
		letter-spacing: 1.7px;
		font-family: 'Raleway', sans-serif;
		font-size: 17px;
		outline: none;
		cursor: pointer;
		@media(max-width: 920px) {
			padding: 15px 30px;
			margin: auto;
		}
		&:hover {
			background-color: darken(#479ee1, 5);
		}
	}
	&-text {
		margin-top: 255px;
		max-width: 510px;
		@media(max-width: 768px) {
			margin: 120px auto 0;
		}
		&__uppercase {
			text-transform: uppercase;
			color: $light-color;
			font-size: 40px;
			@media(max-width: 320px) {
				margin-top: -50px;
				font-size: 32px;
				text-align: center;
			}
		}
		&__lowercase {
			margin-top: -23px;
			color: #fffefe;
			color: #fefefe;
			font-size: 26px;
			font-weight: 500;
			line-height: 40px;
			@media(max-width: 320px) {
				margin-top: 20px;
				text-align: center;
			}
		}
	}
}

.google-btn {
	margin-top: 40px;
	color: #3e3e3e;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	-webkit-box-shadow: 0 8px 11px rgba(54, 54, 54, 0.15);
	        box-shadow: 0 8px 11px rgba(54, 54, 54, 0.15);
	border-radius: 10px;
	border: none;
	background-color: $light-color;
	padding: 28px 36px;
	position: relative;
	cursor: pointer;
	outline: none;
	&:hover {
		background-color: darken($light-color, 5);
	}
	span {
		margin-left: 46px;
	}
	img {
		position: absolute;
		left: 30px;
		top: 23px;
	}
}

.google-btn__block {
	@media(max-width: 550px) {
		margin: 0 auto;
	}
}

.learnMore-btn {
	margin-left: 23px;
	color: $light-color;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 40px;
	padding: 20px 68px;
	border-radius: 10px;
	background-color: rgba(#4894ce, .7);
	border: none;
	cursor: pointer;
	outline: none;
	@media(max-width: 550px) {
		margin: 40px 0;
		margin-bottom: -50px;
	}
	&:hover {
		background-color: darken(#4894ce, 5);
	}
}
.fas.fa-plus,.fas.fa-equals {
	font-size: 30px;
	padding: 13px;
}

.google-btn__block {
	@media(max-width: 320px) {
		margin-left: 20px;
		
	}
}