.other-services {
	&-item {
		display: flex;
		align-items: flex-start;
		flex-basis: 31%;
		&:nth-child(n + 4){
			margin-top: 70px;
		}
		img {
			margin-top: 10px;
		}
		&__block {
			margin-top: 98px;
			margin-bottom: 100px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		&__desc {
			margin-left: 22px;
		}
		&__title {
			font-size: 18px;
			color: $title-color;
			font-weight: 400;
		}
		&__text {
			margin-top: 0px;
			max-width: 260px;
			font-family: Raleway;
			font-size: 14px;
			font-weight: 500;
			line-height: 26px;
		}
	}
}