.hr-footer {
	margin-top: 450px;
	background-color: $light-color;
	opacity: 0.6;
}

.subscribe {
	&-form {
		position: absolute;
		left: 370px;
		top: 60px;
		&__block {
			position: relative;
		}
	}
	&-input__name {
		box-shadow: 0 8px 16px rgba(92, 149, 161, 0.07);
		border-radius: 38px;
		border: 1px solid rgba(0, 0, 0, 0.03);
		background-color: $light-color;
		font-family: 'Raleway', sans-serif;
		font-size: 14px;
		font-weight: 700;
		padding: 32px 115px 31px 107px;
		&:focus {
			outline: none;
		}
	}
	&-input__email {
		margin-top: 20px;
		border-radius: 38px;
		background-color: $input-color;
		color: rgba($title-color, .35);
		font-family: 'Raleway', sans-serif;
		font-size: 14px;
		font-weight: 700;
		border: none;
		padding: 32px 110px 31px 116px;
		&:focus {
			outline: none;
		}
	}
	&-btn {
		margin-top: 23px;
		margin-bottom: 110px;
		color: $light-color;
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.47px;
		box-shadow: 0 10px 16px rgba(102, 212, 244, 0.3);
		border-radius: 38px;
		border: none;
		background-color: $accent-color;
		padding: 30px 130px 30px 138px;
		cursor: pointer;
		&:focus {
			outline: none;
		}
		&:hover {
			background-color: darken($accent-color, 10);
		}
	}
}