@import "utils/variables";
@import "utils/mixins";
@import "utils/extends";
@import "utils/fonts";
@import "libs";


body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: raleway;
}

p {
	font-family: raleway;
}