@import "utils/variables";
@import "utils/mixins";
@import "utils/extends";
@import "utils/fonts";
@import "libs";
@import "includes/header";
@import "includes/services";
@import "includes/features";


body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	color: $text-color;
}
.container {
	max-width: 1110px;
	margin: 0 auto;
}

.bgc-light {
	background-color: $light-color;
}

.section-title {
	margin-top: 10px;
	margin-bottom: 5px;
	color: $title-color;
	font-family: "Roboto Slab";
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.75px;
}

.section-subtitle {
	padding-top: 90px;
	font-family: "Roboto Slab";
	font-size: 18px;
	line-height: 24px;
}

.section-btn {
	color: $light-color;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	box-shadow: 0 10px 16px rgba(102, 212, 244, 0.3);
	border-radius: 25px;
	border: none;
	background-color: #66d4f4;
	padding: 17px 29px;
}