<section class="features">
	<div class="container">
		<div class="features-flex">
			<div class="features-block__img"></div>
			<div class="features-block__text">
				<div class="features-subtitle">We have great features with</div>
				<div class="features-title">Unlimited Customization Features</div>
				<p class="features-text">There are many variations of passages of Lorem Ipsum available,  the majorityalteration make difficult</p>
				<p class="features-item">More wordpress featrures with great responsive design.</p>
				<p class="features-item">Corporate flat design with necessary elements.</p>
				<p class="features-item">Free vector shape and mockup by great designer.</p>
				<p class="features-item">Full one page flat and modern trend following goods.</p>
				<div class="section-btn--center">
						<button class="section-btn">read more</button>
				</div>
			</div>
	</div>
	</div>
</section>