<section class="feedback">
	<div class="container">
		<div class="section-block">
				<div class="section-subtitle">Get know About</div>
				<h2 class="section-title">what customer say</h2>
				<img class="section-line" src="img/line-section.png" alt="line section">
		</div>

		<div class="slider-container">
				<div class="feedback-slider">
						<div>
							<div class="feedback-card">
								<img src="/img/feedback-author.png" alt="feedback-author">
								<h4 class="feedback-card__title">Sourabh B.</h4>
								<div class="feedback-card__subtitle">Co Founder of Mew</div>
								<p class="feedback-card__text">Great Team with great experience, i would reguler recommended to all that you will get better support by working with this awesome team and their expert members :)</p>
							</div>
						</div>
				
						<div>
							<div class="feedback-card">
								<img src="/img/feedback-author.png" alt="feedback-author">
								<h4 class="feedback-card__title">Sourabh B.</h4>
								<div class="feedback-card__subtitle">Co Founder of Mew</div>
								<p class="feedback-card__text">Great Team with great experience, i would reguler recommended to all that you will get better support by working with this awesome team and their expert members :)</p>
							</div>
						</div>
				
						<div>
							<div class="feedback-card">
								<img src="/img/feedback-author.png" alt="feedback-author">
								<h4 class="feedback-card__title">Sourabh B.</h4>
								<div class="feedback-card__subtitle">Co Founder of Mew</div>
								<p class="feedback-card__text">Great Team with great experience, i would reguler recommended to all that you will get better support by working with this awesome team and their expert members :)</p>
							</div>
						</div>

						

					</div>

					<div class="arrow">
						<img class="arrow-left" src="img/arrow-left.png" alt="arrow-prev">
						<img class="arrow-right" src="img/arrow-right.png" alt="arrow-next">
					</div>
		</div>


	</div>
</section>