<section class="footer">
	<div class="container">

		<div class="footer__wrap">
			<div class="footer-block">
				<img src="img/logo-footer.png" alt="logotype">
				<div class="footer__text">
					<p>Flaby is a free flat template and 
						available for free downloads
						but please don’t use for sell</p>
				</div>
				<div class="footer__social">
					<img src="img/icons/soc/facebook-icon.png" alt="facebook">
					<img src="img/icons/soc/google-icon.png" alt="google">
					<img src="img/icons/soc/twitter-icon.png" alt="twitter">
				</div>
			</div>
	
			<div class="footer-block">
				<h4 class="footer__title">Useful Link</h4>
				<ul class="footer__list">
					<li class="footer__item">Resource</li>
					<li class="footer__item">Downloads</li>
					<li class="footer__item">Graphics</li>
					<li class="footer__item">Templates</li>
					<li class="footer__item">UI colors</li>
				</ul>
			</div>
	
			<div class="footer-block">
				<h4 class="footer__title">Free Goods</h4>
				<ul class="footer__list">
					<li class="footer__item">Movies</li>
					<li class="footer__item">Music</li>
					<li class="footer__item">Videos</li>
					<li class="footer__item">Games</li>
					<li class="footer__item">Application</li>
				</ul>
			</div>
	
			<div class="footer-block">
				<h4 class="footer__title">Elements</h4>
				<ul class="footer__list">
					<li class="footer__item">UI Elements</li>
					<li class="footer__item">Materials</li>
					<li class="footer__item">Flat UI</li>
					<li class="footer__item">Print File</li>
					<li class="footer__item">Flyer</li>
				</ul>
			</div>
	
			<div class="footer-block">
				<h4 class="footer__title">About Us</h4>
				<ul class="footer__list">
					<li class="footer__item">Home</li>
					<li class="footer__item">Portfolio</li>
					<li class="footer__item">Layourt</li>
					<li class="footer__item">Blog</li>
					<li class="footer__item">Contact Us</li>
				</ul>
			</div>
		</div>

		<hr class="hr-footer-2">

		<div class="footer__bottom">
			<span>© Copyright 2017</span>
			<span>All rights reserved</span>
			<span>Template Designed By <small>Sourabh Barua</small></span>
			
		</div>

	</div>
</section>