<section class="main-section">
		<div class="container">
			<header class="header">
				<div class="header-logo">
					<img src="img/logo-header.png" alt="logotype Flaby">
				</div>
				<nav class="header-menu">
					<ul class="header-list">
						<li class="header-item"><a href="#" class="header-link">home</a></li>
						<li class="header-item"><a href="#" class="header-link"> services</a></li>
						<li class="header-item"><a href="#" class="header-link">portfolio</a></li>
						<li class="header-item"><a href="#" class="header-link">blog</a></li>
						<li class="header-item"><a href="#" class="header-link">contact us</a></li>
					</ul>
					<button class="header-btn">Login</button>
				</nav>
			</header>
			<hr>
			<div class="header-text">
				<h1 class="header-text__uppercase">Flat <i class="fas fa-plus"></i> Free <i class="fas fa-equals"></i> Flaby</h1>
				<p class="header-text__lowercase">A Modern Flat design corporate template for free download with all great features and trendy look.</p>
				<button class="google-btn">
					<img src="img/icons/google_play.png" alt="google play">
					<span>Google Store</span></button>
				<button class="learnMore-btn">Learn More</button>
			</div>
		</div>
	</section>