<section class="other-services">
	<div class="container bgc-light">
		<div class="section-block">
				<div class="section-subtitle">View Our Latest</div>
				<h2 class="section-title">other services</h2>
				<img class="section-line" src="img/line-section.png" alt="line section">
		</div>
		<div class="other-services-item__block">
			<div class="other-services-item">
				<div class="other-services-item__img">
					<img src="/img/icons/other_services-icon-1.png" alt="Idea Developing icon">
				</div>
				<div class="other-services-item__desc">
					<h3 class="other-services-item__title">Idea Developing</h3>
					<p class="other-services-item__text">There are many variations of passages of Lorem Ipsum available, but the majorityalteration in some form with design</p>
				</div>
			</div>

			<div class="other-services-item">
				<div class="other-services-item__img">
					<img src="/img/icons/other_services-icon-2.png" alt="Best Coding icon">
				</div>
				<div  class="other-services-item__desc">
					<h3 class="other-services-item__title">Best Coding</h3>
					<p class="other-services-item__text">There are many variations of passages of Lorem Ipsum available, but the majorityalteration in some form with design</p>
				</div>
			</div>

			<div class="other-services-item">
				<div class="other-services-item__img">
					<img src="/img/icons/other_services-icon-3.png" alt="Game Design icon">
				</div>
				<div  class="other-services-item__desc">
					<h3 class="other-services-item__title">Game Design</h3>
					<p class="other-services-item__text">There are many variations of passages of Lorem Ipsum available, but the majorityalteration in some form with design</p>
				</div>
			</div>

			<div class="other-services-item">
				<div class="other-services-item__img">
					<img src="/img/icons/other_services-icon-4.png" alt="Responsive Design icon">
				</div>
				<div  class="other-services-item__desc">
					<h3 class="other-services-item__title">Responsive Design</h3>
					<p class="other-services-item__text">There are many variations of passages of Lorem Ipsum available, but the majorityalteration in some form with design</p>
				</div>
			</div>

			<div class="other-services-item">
				<div class="other-services-item__img">
					<img src="/img/icons/other_services-icon-5.png" alt="Free Shopping icon">
				</div>
				<div  class="other-services-item__desc">
					<h3 class="other-services-item__title">Free Shopping</h3>
					<p class="other-services-item__text">There are many variations of passages of Lorem Ipsum available, but the majorityalteration in some form with design</p>
				</div>
			</div>

			<div class="other-services-item">
				<div class="other-services-item__img">
					<img src="/img/icons/other_services-icon-6.png" alt="Bonus Download icon">
				</div>
				<div  class="other-services-item__desc">
					<h3 class="other-services-item__title">Bonus Download</h3>
					<p class="other-services-item__text">There are many variations of passages of Lorem Ipsum available, but the majorityalteration in some form with design</p>
				</div>
			</div>
		</div>
		

			

			



	




	</div>
</section>