<section class="price">
	<div class="container">
		<div class="section-block">
			<div class="section-subtitle">Get Idea About</div>
			<h2 class="section-title">Pricing plan</h2>
			<img class="section-line" src="img/line-section.png" alt="line section">
	</div>

	<div class="price-card__block">
		
		<div class="price-card">
			<div class="price-card__img price-card__img-1"></div>
			<h4 class="price-card__title">Student</h4>
			<div class="price-card__fee">
				<sup>$</sup>
				<span class="price-card__fee--number">39</span>
				<span class="price-card__fee--month">/mo</span>
			</div>
			<ul class="price-card__list">
				<li class="price-card__item">6 GB storage</li>
				<li class="price-card__item">Fast Brandwidht</li>
				<li class="price-card__item option-color">Responsive</li>
				<li class="price-card__item option-color">Customization</li>
			</ul>
			<button class="section-btn price-card__btn">Sign up</button>
		</div>

		<div class="price-card">
			<div class="price-card__img price-card__img-2"></div>
			<h4 class="price-card__title">Professional</h4>
			<div class="price-card__fee">
				<sup>$</sup>
				<span class="price-card__fee--number">59</span>
				<span class="price-card__fee--month">/mo</span>
			</div>
			<ul class="price-card__list">
				<li class="price-card__item">6 GB storage</li>
				<li class="price-card__item">Fast Brandwidht</li>
				<li class="price-card__item">Responsive</li>
				<li class="price-card__item option-color">Customization</li>
			</ul>
			<button class="section-btn price-card__btn">Sign up</button>
		</div>

		<div class="price-card">
			<div class="price-card__img price-card__img-3"></div>
			<h4 class="price-card__title">Unlimited</h4>
			<div class="price-card__fee">
				<sup>$</sup>
				<span class="price-card__fee--number">99</span>
				<span class="price-card__fee--month">/mo</span>
			</div>
			<ul class="price-card__list">
				<li class="price-card__item">6 GB storage</li>
				<li class="price-card__item">Fast Brandwidht</li>
				<li class="price-card__item">Responsive</li>
				<li class="price-card__item">Customization</li>
			</ul>
			<button class="section-btn price-card__btn">Sign up</button>
		</div>
		
		
		
			
	</div>
	</div>
</section>