<section class="resourse">
	<div class="container bgс-light">
		<div class="resourse-block">
			<div class="resourse-block__text">
				<div class="resourse-block__subtitle">Feel free to download our</div>
				<h2 class="resourse-block__title">Great Resourse for free</h2>
				<p class="resourse-block__desc">There are many variations of passages of Lorem Ipsum available & majorityalteration</p>
				<p class="resourse-block__desc resourse-block__desc-2">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</p>
			</div>
			<div class="resourse-block__img">
				<img src="img/mockup-2.png" alt="mockup">
			</div>
		</div>
	</div>
</section>