<section class="services">
	<div class="container bgc-light">
		<div class="section-block">
				<div class="section-subtitle">Welcome to</div>
				<h2 class="section-title">our services</h2>
				<img class="section-line" src="img/line-section.png" alt="line section">
		</div>
		<div class="services-block">
			<div class="services-block-item">
					<img src="img/icons/webdev-icon.png" alt="Web development icon">
					<h3 class="services-block-title">Web Development</h3>
					<p class="services-block-text">There are many variations of passages of Lorem Ipsum available,  the majorityalteration make difficult</p>
			</div>
			<div class="services-block-item">
					<img src="img/icons/photo-icon.png" alt="Photography icon">
					<h3 class="services-block-title">Photography</h3>
					<p class="services-block-text">There are many variations of passages of Lorem Ipsum available,  the majorityalteration make difficult</p>
			</div>
			<div class="services-block-item">
					<img src="img/icons/brush-icon.png" alt="Vector Artist icon">
					<h3 class="services-block-title">Vector Artist</h3>
					<p class="services-block-text">There are many variations of passages of Lorem Ipsum available,  the majorityalteration make difficult</p>
			</div>

		</div>
	</div>
</section>