<section class="subscribe">
	<div class="container bgc-light">
		<div class="section-block">
				<div class="section-subtitle">For latest newsletter</div>
				<h2 class="section-title">Subscribe now</h2>
				<img class="section-line" src="img/line-section.png" alt="line section">
		</div>
		<div class="subscribe-form__block">
			<form class="subscribe-form" action="">
				<input class="subscribe-input__name" type="text" placeholder="Nicky Moa" required>
				<input class="subscribe-input__email" type="email" placeholder="Example@gmail.com" required>
				<button class="subscribe-btn">subscribe</button>
			</form>
		</div>
	</div>
	</section>